<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be focusing on the visualization of data.

The data set will be presented to you in the form of a RDBMS.

You will have to use SQL queries to extract the data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize composition of data.

-   Visualize comparison of data.

<hr>

## Demo: How to work with database

Download database file.

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m4_survey_data.sqlite

Connect to the database.

In [ ]:
import sqlite3
conn = sqlite3.connect("m4_survey_data.sqlite") # open a database connection

Import pandas module.

In [ ]:
import pandas as pd

## Demo: How to run an sql query

In [ ]:
# print how many rows are there in the table named 'master'
QUERY = """
SELECT COUNT(*)
FROM master
"""

# the read_sql_query runs the sql query and returns the data as a dataframe
df = pd.read_sql_query(QUERY,conn)
df.head()

## Demo: How to list all tables

In [ ]:
# print all the tables names in the database
QUERY = """
SELECT name as Table_Name FROM
sqlite_master WHERE
type = 'table'
"""
# the read_sql_query runs the sql query and returns the data as a dataframe
pd.read_sql_query(QUERY,conn)

## Demo: How to run a group by query

In [ ]:
QUERY = """
SELECT Age,COUNT(*) as count
FROM master
group by age
order by age
"""
pd.read_sql_query(QUERY,conn)

## Demo: How to describe a table

In [ ]:
table_name = 'master'  # the table you wish to describe

QUERY = """
SELECT sql FROM sqlite_master
WHERE name= '{}'
""".format(table_name)

df = pd.read_sql_query(QUERY,conn)
print(df.iat[0,0])

# Hands-on Lab

## Visualizing distribution of data

### Histograms

Plot a histogram of `ConvertedComp.`

In [ ]:
# your code goes here
QUERY = """
SELECT ConvertedComp
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
df['ConvertedComp'].plot(kind='hist', bins=20)

### Box Plots

Plot a box plot of `Age.`

In [ ]:
# your code goes here
QUERY = """
SELECT Age
FROM master
"""

df = pd.read_sql_query(QUERY,conn)
df['Age'].plot(kind='box')

## Visualizing relationships in data

### Scatter Plots

Create a scatter plot of `Age` and `WorkWeekHrs.`

In [ ]:
# your code goes here

QUERY = """
SELECT Age, WorkWeekHrs
FROM master
"""

import matplotlib as mpl
import matplotlib.pyplot as plt

df_scat = pd.read_sql_query(QUERY,conn)
df_scat.plot(
    kind = 'scatter',
    x='Age',
    y='WorkWeekHrs',
)
plt.title('scatter plot of Age and WorkWeekHrs')
plt.xlabel('Age')
plt.ylabel('Number of Week Hours')

plt.show()
#or use df_scat.plot(kind='scatter', x= ,y= figsize=(x,y), color='')

### Bubble Plots

Create a bubble plot of `WorkWeekHrs` and `CodeRevHrs`, use `Age` column as bubble size.

In [ ]:
# your code goes here
QUERY = """
SELECT WorkWeekHrs, CodeRevHrs, Age
FROM master
"""

df_buble = pd.read_sql_query(QUERY,conn)

ax0 = df_buble.plot(kind='scatter',
    x='WorkWeekHrs',
    y='CodeRevHrs',
    figsize=(10,5),
    alpha=0.5,
    color='green',
    s='Age'
)
ax0.set_ylabel('CodeRevHrs')
ax0.set_title('lot of WorkWeekHrs and CodeRevHrs, use Age column as bubble size')
ax0.legend(['WorkWeekHrs','CodeRevHrs'], loc='upper left', fontsize='x-large')

## Visualizing composition of data

### Pie Charts

Create a pie chart of the top 5 databases that respondents wish to learn next year. Label the pie chart with database names. Display percentages of each database on the pie chart.

In [ ]:
# your code goes here

QUERY="""
SELECT DatabaseDesireNextYear, COUNT(*) as count
FROM DatabaseDesireNextYear
group by DatabaseDesireNextYear
order by count desc limit 5
"""
df_pie= pd.read_sql_query(QUERY,conn)

df_pie.set_index('DatabaseDesireNextYear', inplace=True)
colors_list = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue', 'lightgreen']

df_pie['count'].plot(kind='pie',
                     figsize=(15,6),
                     autopct='%1.1f%%',
                     startangle=90,
                     shadow=True,
                     labels=None, #turn off labels on pie chart
                     pctdistance=1.12, #ratio between center of the chart and the sart of text generated by autopct
                     colors=colors_list,
                    )
plt.title('The top 5 databases that respondents wish to learn next year', y=1.12)
plt.axis('equal')
plt.legend(labels=df_pie.index, loc='upper left')
plt.show()

In [ ]:
QUERY="""
SELECT LanguageDesireNextYear, COUNT(*) as count
FROM LanguageDesireNextYear
group by LanguageDesireNextYear
order by count desc limit 5
"""
df_lang= pd.read_sql_query(QUERY,conn)
df_lang

In [ ]:
#Question
QUERY="""
SELECT LanguageWorkedWith, COUNT(*) as count
FROM LanguageWorkedWith
WHERE LanguageWorkedWith = 'SQL'
"""
df_work= pd.read_sql_query(QUERY,conn)
df_work

In [ ]:
#Question
QUERY="""
SELECT respondent, DatabaseWorkedWith
FROM DatabaseWorkedWith
WHERE respondent in (SELECT respondent FROM (SELECT respondent, count(respondent) as NumLang
                    FROM DatabaseWorkedWith GROUP BY Respondent) WHERE NumLang=1)
      AND DatabaseWorkedWith='MySQL'
"""

df_sql= pd.read_sql_query(QUERY,conn)
df_sql

### Stacked Charts

Create a stacked chart of median `WorkWeekHrs` and `CodeRevHrs` for the age group 30 to 35.

In [ ]:
# your code goes here

## Visualizing comparison of data

### Line Chart

Plot the median `ConvertedComp` for all ages from 45 to 60.

In [ ]:
# your code goes here
QUERY="""
SELECT WorkWeekHrs, CodeRevHrs, Age
FROM master
WHERE Age BETWEEN 30 AND 35
"""
df= pd.read_sql_query(QUERY,conn)

df_stack = df.groupby(['Age']).median()
df_stack

df_stack.plot(kind='bar', figsize=(8,5), stacked=True)
plt.show()

### Bar Chart

Create a horizontal bar chart using column `MainBranch.`

In [ ]:
# your code goes here

Close the database connection.

In [ ]:
conn.close()

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).